.body {
    background-color: #F2BA9F;
    color: #651B0D;
}

.table {
    padding-top: 50px;
    padding-left: 70px;
    background-color: #651B0D;
    color: #F2BA9F;
    border: solid;
    border-color: white;
}

.td {
    text-align: center;
    width: 35px;
    height: 25px;
}