body {
    background-color: #F2BA9F;
	margin-left: 50px;
    color: #651B0D;
}

div {
	width: 500px;
}

table {
	width: 400px;
    padding-top: 50px 30px 10px 30px;
    background-color: #651B0D;
    color: #F2BA9F;
    border: solid;
    border-color: white;
}
th {
	float: left;
	margin-left: 15px;
	margin-right: 20px;
}

td {
    text-align: center;
    width: 75px;
    height: 25px;
}

